<!DOCTYPE html>
<htmllang= "en"> 
<head> 
    <meta charset= "UTF-8"> 
    <title> Loan Management </title> 
    {%load static %}
    <style>
        h{
            font-size:25px;
            display:inline;
        }
        p{
            display:inline;
        }
    </style>
</head> 
<body style="background-image: url({% static '2.png' %})">
{% comment %} <body>  {% endcomment %}

<h1 align="center" style="color:#66ccff"> 贷款管理功能页 </h1>
<div style="color:#66ccff">
    <ul>
        <li>
            <h> 贷款查询 </h><br>
        </li>
        <br>
        <li>
            <h> 贷款创建 </h>
            <form  action="loan_submit/" method="post" >
                {% csrf_token %}
                输入创建贷款所需的所有信息<br>
                <input type="text" size="25" placeholder="客户身份证" name="make_loan_client_id" required="required">
                <input type="text" size="25" placeholder="支行名称" name="make_loan_sb_name" required="required">
                <input type="text" size="25" placeholder="贷款总额" name="make_loan_loan_sum"required="required"><br>
                <input type="submit" name="make_loan" value="创建贷款">
            </form>
        </li>
        <br>
        <li>
            <h> 贷款删除 </h>
            <form  action="loan_submit/" method="post" >
                {% csrf_token %}
                指定被删除的贷款<br>
                <input type="text" size="25" placeholder="贷款号" name="del_loan_id" required="required"><br>
                <input type="submit" name="del_loan" value="删除贷款">
            </form>
            <br>
        </li>
        <li>
            <h> 贷款支付 </h>
            <form  action="loan_submit/" method="post" >
                {% csrf_token %}
                输入支付贷款所需的所有信息<br>
                <input type="text" size="25" placeholder="支行名称" name="pay_sb_name" required="required">
                <input type="text" size="25" placeholder="贷款号" name="pay_loan_id" required="required">
                <input type="text" size="25" placeholder="支付总额" name="pay_pay_sum" required="required">
                <input type="date" size="25" placeholder="支付时间" name="pay_pay_date" required="required"><br>
                <input type="submit" name="pay_loan" value="支付贷款">
            </form>
        </li>

    </ul>
</div>

<br>
<ul>
    <li><h3 style="color:#66ccff"> <a href="/bankServer/" style="color:#39C5BB"> 主页面 </a> </h3></l1>
    <li><h3 style="color:#66ccff"> <a href="/bankServer/account_management/" style="color:#39C5BB"> 账户管理 </a> </h3></l1> 
    <li><h3 style="color:#66ccff"> <a href="/bankServer/client_management/" style="color:#39C5BB"> 客户管理 </a> </h3></l1> 
    <li><h3 style="color:#66ccff"> <a href="/bankServer/statistic_management/" style="color:#39C5BB"> 业务统计 </a> </h3></l1> 
</ul>

</body> 
</html>