<!DOCTYPE html>
<htmllang= "en"> 
<head> 
    <meta charset= "UTF-8"> 
    <title> Client Management </title> 
    {%load static %}
    <style>
        h{
            font-size:25px;
            display:inline;
        }
        p{
            display:inline;
        }
    </style>
</head> 
<body style="background-image: url({% static '2.png' %})">
{% comment %} <body>  {% endcomment %}

<h1 align="center" style="color:#66ccff"> 客户管理功能页 </h3>
<div style="color:#66ccff">
    <ul>
        <li>
            <h> 客户查询 </h><br>
        </li>
        <br>
        <li>
            <h> 客户创建 </h>
            <form  action="client_submit/" method="post" >
                {% csrf_token %}
                输入创建客户所需的所有信息<br>
                <input type="text" size="25" placeholder="客户身份证" name="create_client_client_id" required="required">
                <input type="text" size="25" placeholder="客户姓名" name="create_client_client_name" required="required">
                <input type="text" size="25" placeholder="客户电话" name="create_client_client_pn" required="required">
                <input type="text" size="25" placeholder="客户地址" name="create_client_client_addr" required="required">
                <input type="text" size="25" placeholder="联系人姓名" name="create_client_connector_name" required="required">
                <input type="text" size="25" placeholder="联系人电话" name="create_client_connector_pn" required="required">   
                <input type="text" size="25" placeholder="联系人Email" name="create_client_connector_email" required="required">  
                <input type="text" size="25" placeholder="关系" name="create_client_relationship">                  
                <input type="submit" name="create_client" value="创建客户">
            </form>
        </li>
        <br>
        <li>
            <h> 删除客户 </h>
            <form  action="client_submit/" method="post" >
                {% csrf_token %}
                指定被删除的客户<br>
                <input type="text" size="25" placeholder="客户身份证" name="del_client_client_id" required="required">          
                <input type="submit" name="del_client" value="删除客户">
            </form>
        </li>
        <br>
        <li>
            <h> 客户修改 </h>
            <form  action="client_submit/" method="post" >
                {% csrf_token %}
                指定被修改客户<br><input type="text" size="25" placeholder="客户身份证" name="modify_client_client_id" required="required"><br>
                输入修改内容（无需修改的字段置空即可）
                <br><input type="text" size="25" placeholder="客户姓名" name="modify_client_client_name" >
                <input type="text" size="25" placeholder="客户电话" name="modify_client_client_pn">
                <input type="text" size="25" placeholder="客户地址" name="modify_client_client_addr">
                <input type="text" size="25" placeholder="联系人姓名" name="modify_client_connector_name">
                <input type="text" size="25" placeholder="联系人电话" name="modify_client_connector_pn">   
                <input type="text" size="25" placeholder="联系人Email" name="modify_client_connector_email">  
                <input type="text" size="25" placeholder="关系" name="modify_client_relationship">                  
                <input type="submit" name="modify_client" value="修改客户信息">
            </form>
        </li>
        <br>
        <li>
            <h> 客户联系管理 </h>
            <form  action="client_submit/" method="post" >
                {% csrf_token %}
                指定客户<input type="text" size="25" placeholder="客户身份证" name="modify_connection_client_id" required="required"><br>
                指定工作人员<input type="text" size="25" placeholder="工作人员身份证" name="modify_connection_worker_id" required="required"><br>
                指定关系
                <input type="radio" name="modify_connection_connect_type" value="贷款负责人" checked='checked'> 贷款负责人
                <input type="radio" name="modify_connection_connect_type"  value="银行帐户负责人"> 银行帐户负责人 <br>
                <input type="submit" name="modify_connection" value="创建或修改联系">
            </form>
        </li>
        <br>
        <li>
            <h> 客户联系删除 </h>
            <form  action="client_submit/" method="post" >
                {% csrf_token %}
                指定客户<input type="text" size="25" placeholder="客户身份证" name="del_connection_client_id" required="required"><br>
                指定工作人员<input type="text" size="25" placeholder="工作人员身份证" name="del_connection_worker_id" required="required"><br>
                <input type="submit" name="del_connection" value="删除联系">
            </form>
        </li>
        <br>


    </ul>
</div>

<ul>
    <li><h4 style="color:#66ccff"> <a href="/bankServer/" style="color:#39C5BB"> 主页面 </a> </h4></l1>
    <li><h4 style="color:#66ccff"> <a href="/bankServer/loan_management/" style="color:#39C5BB"> 贷款管理 </a> </h4></l1>
    <li><h4 style="color:#66ccff"> <a href="/bankServer/account_management/" style="color:#39C5BB"> 账户管理 </a> </h4></l1> 
    <li><h4 style="color:#66ccff"> <a href="/bankServer/client_management/" style="color:#39C5BB"> 客户管理 </a> </h4></l1> 
    <li><h4 style="color:#66ccff"> <a href="/bankServer/statistic_management/" style="color:#39C5BB"> 业务统计 </a> </h4></l1> 
</ul>

</body> 
</html>