<!DOCTYPE html>
<htmllang= "en"> 
<head> 
    <meta charset= "UTF-8"> 
    <title> Bank Management Function </title> 
    {%load static %}
    <style>
        h{
            font-size:22px;
            display:inline;
        }
        p{
            display:inline;
        }
    </style>
</head> 
<body style="background-image: url({% static '2.png' %})">
{% comment %} <body>  {% endcomment %}

<h1 align="center" style="color:#66ccff"> 数据库详细功能页 </h3>
<div style="color:#66ccff">
    <h2> 贷款相关操作 </h2>
    <h> 贷款查询 </h><br>
    <h> 贷款创建 </h>
        <form  action="make_loan_submit/" method="post" style="display:inline" >
            {% csrf_token %}
            <p>客户身份证</p> <input type="text" size="25" name="make_loan_client_id" >
            <p>支行名称</p> <input type="text" size="25" name="make_loan_sb_name" >
            <p>贷款总额</p> <input type="number" size="25" name="make_loan_loan_sum">
            <input type="submit" name="comfirm_make_loan" value="创建！">
        </form>
        <br>
    
    <h> 贷款支付 </h><br>
    <h> 贷款删除 </h>
</div>



</body> 
</html>